html {
  box-sizing: border-box;
  /* position: relative;
  width: 1600px;
  height: 2346px; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --main-title-color: #212121;
  --mail-font: 'Roboto', sans-serif;
  --main-background: #ffffff;
  --accent-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  /* margin-left: auto;
/* margin-right: auto; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid red;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* --------------header------------- */

.header {
  background-color: var(--main-background);
  padding-top: 24px;
  padding-bottom: 25px;
}

.main-header {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-list .header-item {
  /* background-color: gold; */
  border: 2px solid tomato;
}

/* .header-list .header-item + .header-item {
  margin-left: 50px;
} */

/* .header-list .header-item:not(:last-child) {
  margin-right: 50px;
} */

.nav {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
  color: var(--accent-color);
}

.logo-link {
  color: #000000;
}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--main-title-color);
}

.header-link:hover,
.header-link:focus,
.header-link-right:hover,
.header-link-right:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.header-list-contact {
  display: flex;
  margin-left: auto;
}

.header-list-contact .header-item + .header-item {
  margin-left: 50px;
}

.header-link-right {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  /* padding-top: 32px;
  padding-bottom: 32px;
  display: block; */
}

/* -------------hero------------- */

/* .hero {
} */

.hero-content {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin: 0 auto 30px auto;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  border-color: var(--accent-color);
  max-width: 216px;
  width: 216px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #188ce8;
  border-color: #188ce8;
}

/* ----------------second-section------------ */

.second-section {
  background-color: var(--main-background);
}
.second-section-list {
  display: flex;
  gap: 30px;
}

/* .second-section-item {
} */
.second-section-subtitle {
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
}
.second-section-text {
  line-height: 1.71;
  color: #757575;
}

/* -----------------third-section------------- */
.third-section {
  background-color: var(--main-background);
  padding-top: 0;
}
.third-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-title-color);
  margin-bottom: 50px;
}
.third-section-list {
  display: flex;
  gap: 30px;
}
/* .third-section-item {
}
.third-section-images {
} */

/* --------------------fourth-section------------- */

.fourth-section {
  background-color: #f5f4fa;
}
.fourth-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-title-color);
  margin-bottom: 50px;
}
.fourth-section-list {
  display: flex;
  gap: 30px;
}
.fourth-section-item {
  width: calc((100%-90) / 4);
}

/* .fourth-section-images {
} */
.fourth-section-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-title-color);
  margin-bottom: 10px;
}
.fourth-section-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}

.introducing {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

/* --------------footer------------- */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
  display: inline-block;
}

.logo-link-footer {
  color: #ffffff;
}

/* .footer-address {
} */
/* .footer-list {
}
.footer-item {
} */
.footer-link-place {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: #ffffff;
}

.footer-link-place:hover,
.footer-link-place:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.footer-link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
  margin-top: 9px;
  display: block;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* -----------------portfolio------------ */
/* -----------------project------------------ */

.project {
  background-color: var(--main-background);
  color: var(--main-title-color);
}

.filers-list {
  margin-bottom: 50px;
}
/* .filters-item {
} */

.filters-btn {
  font-family: var(--mail-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background: #f5f4fa;
  cursor: pointer;
}

.filters-btn:hover,
.filters-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* .project-list {
}
.project-item {
} */

.icone-text {
  padding-top: 20px;
  padding-bottom: 20px;
}
.project-link {
  color: var(--main-title-color);
  background: #ffffff;
  /* border: 1px solid #eeeeee; */
}

.project-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
  margin-top: 4px;
}
